<p>El usuario a realizado una solicitud "Fechas para declarar renta" con su último número
  de NIT: <b>{{statementMaxDate.lastNITDigit}}</b>, dando como resultado su fecha máxima para declarar renta:
  <b>{{statementMaxDate.expireDate}}.</b>
</p>